* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box; 
}

.product {
    width: 25em;
    height: max-content;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
                0 2px 4px rgba(0, 0, 0, 0.06); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.product:hover  {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3),
    0 6px 20px rgba(0, 0, 0, 0.25);
    transform: scale(1.03);
}

.image {
    width: 100%;
    height: 15rem; 
    overflow: hidden;  
    background-color: #ffffff;  
}

.image img {
    width: 100%;  
    height: 100%; 
    object-fit: contain;  
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details h3{
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.information {
    width: 100%; 
    min-height: 18rem;
    background-color: #4d4d4d;  
    padding: 1rem;
    border-radius: 20px;
    color: white;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-top: 0.5rem;
}



.description {
    font-size: 13px;    
    font-weight: lighter;        
    width: 100%;                  
    overflow: hidden;           
    text-overflow: ellipsis; 
    display: -webkit-box; 
    line-clamp: 4; 

}


.category {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    margin: 0.5rem 0; 
}

.price {
    font-weight: 700;
    font-size: 25px;
    margin: 0.5rem 0; 
    text-align: center;
}

.rating {
    font-weight: 500;
    font-style: italic;
    margin: 0.5rem 0; 
}

button {
    margin-top: 0.5rem;
    padding: 1.2rem;
    border-radius: 10px;
    border: none;
    background-color: #232323;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer; 
    color: white;
    font-weight: bold;
    transition: 0.3s ease;
}

button:hover {
    background-color: #627375;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3),
                 0 6px 10px rgba(0, 0, 0, 0.25);
    transform: scale(1);
}
